body {
  box-sizing: border-box; }

/*inicia CSS Header*/
.logo {
  width: 380px; }

.header-seccion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

li {
  list-style-type: none; }

.nav-pc {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px; }

.nav-pc li a {
  color: black;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 23px;
  text-decoration: none; }

.nav-pc li a:hover {
  color: #54BBAD; }

.caja-iconos {
  margin-top: 40px;
  word-spacing: 10px;
  font-size: 25px; }

.caja-iconos a {
  text-decoration: none;
  color: black; }

.caja-iconos i:hover {
  color: #54BBAD; }

/*Inicia Menu de hamburguesa*/
/*Inicia Menu de hamburguesa*/
/*Menu toggle button*/
.bamboo {
  display: none; }

#menu-btn {
  position: absolute;
  left: 1em;
  top: 1em;
  width: 2em;
  border-radius: 100%;
  transition: all .2s ease-out; }

/*Cursor on toggle button hover*/
#menu-btn:hover {
  cursor: pointer; }

/*Changing color of hamburger lines on hover*/
#menu-btn:hover .menu-line {
  background-color: #999999; }

#menu-btn:active {
  box-shadow: 0 0 5px black;
  background-color: #524a88; }

/*Styles for the hamburger lines*/
.menu-btn-line {
  height: .2em;
  background-color: #54BBAD;
  margin-bottom: .3em; }

/*No margin-bottom for last hamburger line.*/
.menu-btn-line:last-child {
  margin-bottom: 0; }

/*List container*/
#menu {
  position: absolute;
  top: 10em;
  left: 1em;
  width: 80%;
  border: .5em solid  black;
  font-size: 5px;
  background-color: #54BBAD; }

#menu ul {
  display: flex;
  flex-direction: column;
  text-align: center; }

/*List*/
#menu ul {
  padding: 0;
  margin: 0; }

/*List items*/
#menu ul li {
  list-style-type: none;
  left: 0;
  padding: .5em;
  color: #00FFCA;
  transition: all .3s ease-out; }

/*Subscribe link*/
#menu ul li:last-child {
  margin-top: .5em;
  padding-top: 1em;
  border-top: 1px solid #00FFCA; }

/*Cursor and text undelrine on hover*/
#menu ul li:hover {
  cursor: pointer;
  text-decoration: none; }

/*Background and text colour change on click*/
#menu ul li:active {
  background-color: #00FFCA;
  color: #34495e; }

/*Fin Menu de hamburguesa*/
/*Fin CSS Header*/
/*Colores globales*/
h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 32px;
  color: #02544C; }

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  color: #02544C; }

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
  color: #02544C; }

a {
  text-decoration: none; }

p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 23px;
  color: #000000; }

.baner {
  display: block;
  margin: auto;
  width: 90%;
  height: 500px; }

.main-seccion1 {
  display: flex;
  margin: 70px 150px; }

.main-seccion1 p {
  text-align: justify; }

.main-seccion1 h1 {
  text-align: center; }

.img-mv {
  padding-left: 70px; }

/*Inicia CSS Seccion 2*/
.tit {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px; }

.main-seccion2 {
  display: flex; }

.main-seccion2 p {
  text-align: justify;
  padding: 0 50px; }

.main-col1 img {
  display: block;
  float: right; }

.main-col1 h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-bottom: 0; }

.main-col1 * {
  display: inline-block; }

.main-col1 {
  text-align: center;
  padding-bottom: 50px; }

.main-col1:hover {
  background-color: rgba(84, 187, 173, 0.18);
  border-radius: 800px; }

.main-col1 a {
  margin-top: 30px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 21px;
  color: #000000;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #54BBAD;
  padding: 8px;
  background-color: #54BBAD;
  color: #ffffff; }

.main-col1 a:hover {
  background-color: white;
  color: black; }

.main-col2 img {
  display: block;
  float: left; }

.main-col2 h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-bottom: 0; }

.main-col2 * {
  display: inline-block; }

.main-col2 {
  text-align: center;
  padding-bottom: 50px; }

.main-col2:hover {
  background-color: rgba(84, 187, 173, 0.18);
  border-radius: 800px; }

.main-col2 a {
  margin-top: 30px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 21px;
  color: #000000;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #54BBAD;
  padding: 8px;
  background-color: #54BBAD;
  color: #ffffff; }

.main-col2 a:hover {
  background-color: white;
  color: black; }

.articulos-recientes {
  margin-top: 120px;
  display: flex;
  width: 100%; }

aside {
  width: 25%;
  background-color: #009F8B; }

.aside-art-home h2 {
  color: #ffffff;
  text-align: center; }

.aside-art-home p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; }

.articulo-home {
  margin-top: 90px;
  width: 25%;
  padding: 5px;
  text-align: center; }

.articulo-home:hover {
  background-color: rgba(84, 187, 173, 0.18);
  border-radius: 800px; }

.articulo-home a {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
  color: #000000;
  padding-right: 10px;
  padding-left: 10px; }

.articulo-home a:hover {
  color: #02544C; }

.articulo-home img {
  width: 100%; }

/*Inicia CSS de EMPRESAS*/
.iconos-landing {
  display: flex;
  justify-content: center;
  margin-top: 70px; }

.iconos-landing h2 {
  color: black; }

.iconos-landing2 {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.iconos-landing2 h2 {
  color: black; }

.iconos-landing3 {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.iconos-landing3 h2 {
  color: black; }

.iconos-landing div {
  width: 30%; }

.iconos-landing2 div {
  width: 25%; }

.iconos-landing3 div {
  width: 30%; }

.un-icono {
  text-align: center;
  padding: 10px;
  color: #009F8B; }

.un-icono:hover {
  background-color: rgba(84, 187, 173, 0.18); }

.h2-landing {
  font-size: 15px; }

.form-empresas h3 {
  color: white;
  text-align: center; }

.seccion-2-landing {
  display: flex;
  margin-top: 120px;
  background-color: #009F8B; }

.seccion-2-landing div {
  width: 50%;
  margin: 50px; }

.jepe {
  color: white; }

.jipi {
  color: white; }

.form-empresas {
  background-color: #02544C;
  padding: 30px; }

.seccionplo p {
  padding: 50px 200px;
  text-align: justify; }

.seccion-empresas:hover {
  background: rgba(84, 187, 173, 0.18);
  border-radius: 30px; }

.empresa-h1 {
  text-align: center; }

.secem {
  display: flex;
  margin-top: 45px; }

.secem img {
  width: 600px;
  height: 520px; }

.lista {
  list-style-image: url("/media/icono-lista.png");
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  padding-right: 20px; }

.lista li {
  margin-top: 10px;
  font-size: 18px;
  text-align: justify; }

.lista a {
  text-align: center;
  margin-top: 20px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 21px;
  color: #000000;
  outline-style: solid;
  outline-width: 1px;
  padding: 8px;
  width: max-content;
  background-color: #54BBAD;
  color: #ffffff; }

.lista a:hover {
  background-color: #ffffff;
  color: #000000; }

.seccion-trabajadores {
  text-align: center; }

.tra-servicios {
  margin-left: 120px;
  margin-right: 120px; }

.tra-col-1 {
  margin-top: 60px;
  display: flex;
  align-items: center; }

.tra-col-1:hover {
  background: rgba(84, 187, 173, 0.18); }

.tra-col-1 img {
  width: 600px; }

.tra-col-1 h2 {
  font-size: 25px;
  background-color: white;
  padding: 10px;
  position: relative;
  margin-left: -70px; }

.tra-col-2 {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.tra-col-2:hover {
  background: rgba(84, 187, 173, 0.18); }

.tra-col-2 img {
  width: 600px; }

.tra-col-2 h2 {
  font-size: 25px;
  background-color: white;
  padding: 10px;
  position: relative;
  margin-right: -70px; }

.abog-seccion1 {
  display: flex;
  margin-left: 150px;
  margin-right: 150px; }

.abog-seccion1 a:hover {
  background-color: rgba(84, 187, 173, 0.18); }

.abog-seccion1-a {
  margin-top: 70px;
  width: 50%;
  text-align: justify; }

.abog-seccion1-b {
  width: 50%; }

.abog-seccion1-b img {
  width: 100%;
  height: 480px;
  margin-left: 30px; }

.titulo-abog {
  text-align: center;
  margin-top: 70px; }

.linea-1 {
  display: flex;
  justify-content: center; }

.linea-1 h2 {
  font-size: 23px; }

.linea-1 div {
  width: 30%;
  margin: 15px;
  text-align: center; }

.linea-1 div p {
  text-align: justify;
  padding: 0 25px; }

.linea-1 div:hover {
  background-color: rgba(84, 187, 173, 0.18); }

.linea-1 img {
  width: 100%; }

.contacto-seccion1 {
  display: flex;
  margin: 70px 120px;
  text-align: justify; }

iframe {
  margin-left: 30px; }

form {
  display: flex;
  flex-direction: column; }

.forma {
  padding: 20px 50px;
  background-color: #54BBAD;
  margin: 70px 400px; }

.forma h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  letter-spacing: 2px; }

form input {
  margin-top: 15px;
  height: 23px; }

.bot-enviar {
  align-items: center;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 140px;
  background-color: white; }

.bot-enviar:hover {
  background-color: #02544C;
  color: white; }

.baner-blogs {
  display: block;
  margin: auto;
  width: 1300px;
  height: 500px; }

.seccion-blog {
  background: white;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  margin-top: -150px; }

.seccion-blog p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px; }

.seccion-blog h1 {
  padding: 30px 70px;
  text-align: center; }

.seccion-blog h2 {
  padding: 30px 70px;
  text-align: center; }

.img-blog-4 {
  width: 70%;
  display: block;
  margin: auto;
  padding: 10px; }

.img-blog-5 {
  width: 70%;
  display: block;
  margin: auto;
  padding: 10px; }

.lista-blog li {
  list-style-image: url("/media/icono-lista.png");
  font-size: 23px;
  margin: 15px 80px;
  text-align: justify; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  background-color: #02544C;
  height: 150px; }

.footer-iconos {
  word-spacing: 10px;
  color: white;
  font-size: 30px; }

footer a {
  color: #ffffff;
  font-size: 25px; }

footer a:hover {
  color: #000000; }

footer img {
  width: 200px; }

@media screen and (min-width: 1px) and (max-width: 425px) {
  #menu a {
    font-size: 19px;
    color: #ffffff;
    margin-top: 35px; }
  p {
    font-size: 19px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 23px; }
  h3 {
    font-size: 20px; }
  .bamboo {
    display: flex; }
  .logo {
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px; }
  .caja-iconos {
    display: none; }
  .header-seccion2 {
    display: none; }
  .baner {
    width: 100%;
    height: 200px; }
  .main-seccion1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0; }
  .img-mv img {
    width: 100%; }
  .main-seccion2 {
    flex-wrap: wrap; }
  .tit {
    margin-top: 70px; }
  .tit h2 {
    font-size: 23px; }
  .main-col1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0; }
  .main-col1 p {
    padding: 0;
    width: 100%; }
  .main-col1 img {
    width: 90%; }
  .main-col2 {
    flex-wrap: wrap;
    width: 100%;
    margin: 90px 0 0 0; }
  .main-col2 p {
    width: 100%;
    padding: 0; }
  .main-col2 img {
    width: 90%; }
  .articulos-recientes {
    flex-direction: column; }
  aside {
    width: 100%; }
  .articulo-home {
    width: 100%;
    margin-top: 80px;
    padding: 1px; }
  .articulo-home h3 {
    text-align: center; }
  .seccionplo p {
    margin-top: 20px;
    padding: 0; }
  .iconos-landing {
    flex-direction: column; }
  .iconos-landing div {
    width: 100%; }
  .tra-servicios {
    margin-left: 0;
    margin-right: 0; }
  .tra-col-1 {
    margin-top: 80px;
    flex-direction: column; }
  .tra-col-1 h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 23px; }
  .tra-col-1 img {
    width: 100%; }
  .tra-col-2 {
    margin-top: 80px;
    flex-direction: column; }
  .tra-col-2 h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 23px; }
  .tra-col-2 img {
    width: 100%; }
  .abog-seccion1 {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column; }
  .abog-seccion1-a {
    width: 100%;
    margin-top: 8px; }
  .abog-seccion1-b {
    width: 100%; }
  .abog-seccion1-b img {
    width: 100%;
    height: 300px;
    margin-left: 0; }
  .linea-1 {
    flex-direction: column; }
  .linea-1 div {
    width: 100%;
    margin: 40px 0; }
  .contacto-seccion1 {
    margin: 0;
    flex-direction: column;
    width: 100%; }
  iframe {
    width: 100%;
    margin-left: 0; }
  .forma {
    padding: 10px;
    margin: 30px 20px; }
  .bot-enviar {
    margin-left: 50px; }
  .baner-blogs {
    width: 100%;
    height: 180px; }
  .seccion-blog {
    margin-top: -70px;
    margin-left: 20px;
    margin-right: 20px; }
  .seccion-blog p {
    padding-left: 2px;
    padding-right: 2px; }
  .seccion-blog h1 {
    padding: 10px 0; }
  .seccion-blog h2 {
    padding: 10px 0; }
  .lista-blog li {
    font-size: 19px;
    margin: 15px 0; }
  footer {
    flex-direction: column;
    text-align: center;
    height: 200px; }
  footer a {
    font-size: 19px; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  #menu a {
    font-size: 19px;
    color: #ffffff;
    margin-top: 35px; }
  p {
    font-size: 19px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 23px; }
  h3 {
    font-size: 20px; }
  .bamboo {
    display: flex; }
  .logo {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 30px; }
  .caja-iconos {
    display: none; }
  .header-seccion2 {
    display: none; }
  .baner {
    width: 100%;
    margin: 0;
    height: 300px; }
  .main-seccion1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0; }
  .main-seccion1 p {
    padding: 0 70px; }
  .img-mv img {
    width: 100%; }
  .main-seccion2 {
    flex-wrap: wrap; }
  .tit {
    margin-top: 70px;
    font-size: 30px; }
  .main-col1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 60px; }
  .main-col1 p {
    width: 100%;
    padding: 0; }
  .main-col1 img {
    width: 60%; }
  .main-col2 {
    flex-wrap: wrap;
    width: 100%;
    margin: 90px 60px 0 60px; }
  .main-col2 p {
    width: 100%;
    padding: 0; }
  .main-col2 img {
    width: 60%; }
  .articulos-recientes {
    flex-direction: column; }
  aside {
    width: 100%; }
  .articulo-home {
    width: 100%;
    margin-top: 80px; }
  .articulo-home h3 a {
    font-size: 30px; }
  .seccionplo p {
    padding: 0;
    margin: 70px 80px; }
  .secem {
    flex-direction: column; }
  .secem img {
    display: block;
    margin: auto;
    height: 360px; }
  .lista {
    margin-top: 50px; }
  .tra-servicios {
    margin-left: 0;
    margin-right: 0; }
  .tra-col-1 {
    margin-top: 80px;
    flex-direction: column; }
  .tra-col-1 h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 23px; }
  .tra-col-1 img {
    height: 360px; }
  .tra-col-2 {
    margin-top: 80px;
    flex-direction: column; }
  .tra-col-2 h2 {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 23px; }
  .tra-col-2 img {
    height: 360px; }
  .abog-seccion1 {
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column; }
  .abog-seccion1-a {
    margin-top: 0;
    width: 100%; }
  .abog-seccion1-a p {
    margin-left: 80px;
    margin-right: 80px; }
  .abog-seccion1-a h1 {
    text-align: left;
    margin-left: 40px; }
  .abog-seccion1-b {
    width: 100%; }
  .abog-seccion1-b img {
    margin-left: 0; }
  .linea-1 {
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px; }
  .linea-1 p {
    padding-left: 60px;
    padding-right: 60px; }
  .linea-1 div {
    width: 100%;
    margin: 40px 0; }
  .contacto-seccion1 {
    margin: 0;
    flex-direction: column;
    width: 100%; }
  .contacto-seccion1 p {
    margin: 20px 70px; }
  iframe {
    width: 100%;
    margin-top: 30px;
    margin-left: 0; }
  .forma {
    padding: 10px;
    margin: 60px 130px; }
  .bot-enviar {
    margin-left: 160px; }
  .baner-blogs {
    width: 700px;
    height: 360px; }
  .seccion-blog {
    margin-top: -100px;
    margin-left: 80px;
    margin-right: 80px; }
  .seccion-blog p {
    padding-left: 20px;
    padding-right: 20px; }
  .seccion-blog h1 {
    padding: 10px; }
  .seccion-blog h2 {
    padding: 10px; }
  .lista-blog li {
    font-size: 19px;
    margin: 15px 0; }
  footer {
    flex-direction: column;
    text-align: center;
    height: 220px; } }
