@charset "UTF-8";
body {
  box-sizing: border-box; }

/*Globales*/
/*Colores globales*/
/*Tipografia global*/
/*Tamaño de tipografía global*/
a {
  font-size: 25px;
  color: black;
  font-family: "Alegreya SC", serif;
  text-decoration: none; }

a:hover {
  color: #02544C; }

p {
  font-size: 25px;
  font-family: "Alegreya Sans", sans-serif; }

h1 {
  font-size: 35px;
  font-family: "Alegreya", serif; }

h2 {
  font-size: 32px;
  font-family: "Alegreya", serif; }

/*Fin CSS Globales*/
/*inicia CSS Header*/
.header-seccion1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

li {
  list-style-type: none; }

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px; }

.logo {
  width: 400px; }

.header-iconos {
  width: 30px;
  margin-top: 45px; }

/*Fin CSS Header*/
/*Inicia CSS Main*/
.baner {
  display: block;
  margin: auto;
  width: 90%;
  height: 500px; }

.main-seccion1 {
  display: flex;
  margin: 70px 150px; }

/*Fin CSS Main*/
/*Inicia CSS Seccion 2*/
.tit {
  text-align: center; }

.main-seccion2 {
  display: flex; }

.main-seccion2 p {
  text-align: justify;
  padding: 15px 45px 0px 45px; }

.main-col1 img {
  float: right; }

.main-col1 * {
  display: inline-block; }

.main-col2 img {
  float: left; }

.main-col2 * {
  display: inline-block; }

/*Fin CSS Seccion 2*/
/*Inicia CSS Artículos recientes*/
.articulos-recientes {
  margin-top: 120px;
  display: flex;
  width: 100%; }

aside {
  width: 25%;
  background-color: #009F8B; }

aside h2 {
  color: #ffffff;
  text-align: center; }

aside p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; }

article {
  margin-top: 90px;
  width: 25%;
  padding: 5px; }

article img {
  width: 100%; }

/*Fin CSS Artículos recientes*/
/*Inicia CSS de EMPRESAS*/
.seccionplo p {
  margin: 50px 150px 0 150px;
  text-align: justify; }

.fila1 {
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px; }

.fila1-a {
  width: 50%; }

.zindex p {
  background-color: #54BBAD;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  margin-top: -50px;
  padding: 15px;
  text-align: justify;
  font-size: 20px; }

.fila1-b {
  width: 50%; }

.fila2 {
  display: flex;
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px; }

.fila2-a {
  width: 50%; }

.fila2-b {
  width: 50%; }

.contactanos {
  margin-top: 70px;
  text-align: center; }

/*Fin CSS de EMPRESAS*/
/*Inicia CSS Footer*/
footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  background-color: #02544C;
  padding: 30px 0; }

.footer-iconos {
  width: 30px; }

footer p {
  font-family: "Alegreya SC", serif;
  font-size: 20px;
  color: #ffffff; }

/*Fin CSS Footer*/
