body {
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0;
  background-color: rgba(84, 187, 173, 0.1); }

* {
  margin: 0; }

/*inicia CSS Header*/
header {
  position: fixed;
  padding: 0 0 13px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff; }

.logocel {
  display: none; }

.logopc {
  height: 70px; }

#toggle {
  position: absolute;
  top: 13px;
  right: 120px;
  width: 60px;
  height: 60px;
  background: #54BBAD;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s; }

#toggle::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  transform: translateY(-5px);
  transition: 0.3s; }

#toggle::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  background: #fff;
  transform: translateY(5px);
  transition: 0.3s; }

#toggle.active::before {
  transform: translateY(0px) rotate(45deg); }

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg); }

#toggle.active {
  background: red; }

#navbar {
  background: #fff;
  transition: 0.5s;
  width: 0px;
  overflow: hidden; }

#navbar.active {
  width: 620px; }

#navbar ul {
  position: relative;
  display: flex;
  flex-direction: row; }

#navbar ul li {
  list-style: none; }

#navbar ul li a {
  color: black;
  line-height: 70px;
  display: inline-block;
  font-size: 23px;
  padding: 0 15px;
  letter-spacing: 1px;
  font-family: "Alegreya Sans", sans-serif; }

#navbar ul li a:hover {
  color: #fff;
  background: #009F8B; }

/*Colores globales*/
h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 32px;
  color: #02544C; }

h2 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 30px;
  color: #02544C; }

h3 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
  color: #02544C; }

a {
  text-decoration: none; }

p {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 23px;
  color: #000000;
  padding: 5px; }

.banerpri {
  background-size: cover;
  background-image: url("/media/portada-inicio.jpg");
  height: 550px;
  width: 90%;
  margin: auto; }

.form-empresas {
  background-color: #02544C;
  padding: 20px; }

.titulo-form {
  color: white;
  text-align: center;
  margin-top: 0px; }

.label-nombre {
  margin-top: -5px; }

input:hover {
  background-color: #54BBAD; }

label {
  margin-top: 18px;
  color: white;
  font-family: "Alegreya Sans", sans-serif;
  letter-spacing: 1px; }

form input {
  padding-top: 3px;
  height: 23px; }

textarea {
  margin-bottom: 20px; }

textarea:hover {
  background-color: #54BBAD; }

.form-empresas button {
  padding: 3px;
  border-radius: 50px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 15px; }

.form-empresas button:hover {
  background-color: #54BBAD; }

.main-seccion1 {
  display: flex;
  margin: 70px 150px; }

.main-seccion1 p {
  text-align: justify; }

.main-seccion1 h1 {
  text-align: center; }

.img-mv {
  padding-left: 70px; }

/*Inicia CSS Seccion 2*/
.tit {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px; }

.main-seccion2 {
  display: flex; }

.main-seccion2 p {
  text-align: justify;
  padding: 0 50px; }

.main-col1 img {
  display: block;
  float: right; }

.main-col1 h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-bottom: 0; }

.main-col1 * {
  display: inline-block; }

.main-col1 {
  text-align: center;
  padding-bottom: 50px; }

.main-col1:hover {
  background-color: rgba(84, 187, 173, 0.18);
  border-radius: 800px; }

.main-col1 a {
  margin-top: 30px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 21px;
  color: #000000;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #54BBAD;
  padding: 8px;
  background-color: #54BBAD;
  color: #ffffff; }

.main-col1 a:hover {
  background-color: white;
  color: black; }

.main-col2 img {
  display: block;
  float: left; }

.main-col2 h3 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding-bottom: 0; }

.main-col2 * {
  display: inline-block; }

.main-col2 {
  text-align: center;
  padding-bottom: 50px; }

.main-col2:hover {
  background-color: rgba(84, 187, 173, 0.18);
  border-radius: 800px; }

.main-col2 a {
  margin-top: 30px;
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 21px;
  color: #000000;
  outline-style: solid;
  outline-width: 1px;
  outline-color: #54BBAD;
  padding: 8px;
  background-color: #54BBAD;
  color: #ffffff; }

.main-col2 a:hover {
  background-color: white;
  color: black; }

.articulos-recientes {
  margin-top: 120px;
  display: flex;
  width: 100%; }

aside {
  width: 25%;
  background-color: #009F8B; }

.aside-art-home h2 {
  color: #ffffff;
  text-align: center; }

.aside-art-home p {
  font-size: 20px;
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff; }

.articulo-home {
  margin-top: 90px;
  width: 25%;
  padding: 5px;
  text-align: center; }

.articulo-home:hover {
  background-color: rgba(84, 187, 173, 0.18);
  border-radius: 800px; }

.articulo-home a {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 20px;
  color: #000000;
  padding-right: 10px;
  padding-left: 10px; }

.articulo-home a:hover {
  color: #02544C; }

.articulo-home img {
  width: 100%; }

.iconos-landing {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.iconos-landing h2 {
  color: black; }

.iconos-landing2 {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.iconos-landing2 h2 {
  color: black; }

.iconos-landing3 {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.iconos-landing3 h2 {
  color: black; }

.iconos-landing div {
  width: 30%; }

.iconos-landing2 div {
  width: 25%; }

.iconos-landing3 div {
  width: 30%; }

.un-icono {
  text-align: center;
  padding: 10px;
  color: #009F8B; }

.un-icono:hover {
  background-color: rgba(84, 187, 173, 0.18); }

.h2-landing {
  font-size: 15px; }

.seccion-2-landing {
  display: flex;
  margin-top: 120px;
  background-color: #009F8B; }

.seccionplo p {
  margin: 50px 150px 80px 150px;
  text-align: justify; }

.seccion-2-landing div {
  width: 50%;
  margin: 50px; }

.jepe {
  color: white; }

.jipi {
  color: white; }

.empresa-h1 {
  text-align: center; }

.seccion-trabajadores {
  text-align: center; }

.tra-servicios {
  margin-left: 120px;
  margin-right: 120px; }

.tra-col-1 {
  margin-top: 60px;
  display: flex;
  align-items: center; }

.tra-col-1:hover {
  background: rgba(84, 187, 173, 0.18); }

.tra-col-1 img {
  width: 600px; }

.tra-col-1 h2 {
  font-size: 25px;
  padding: 10px; }

.tracoldivder {
  position: relative;
  margin-left: -70px;
  background-color: white; }

.tra-col-2 {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse; }

.tra-col-2:hover {
  background: rgba(84, 187, 173, 0.18); }

.tra-col-2 img {
  width: 600px; }

.tra-col-2 h2 {
  font-size: 25px;
  padding: 10px; }

.tracoldiviz {
  position: relative;
  margin-right: -70px;
  background-color: white; }

.abog-seccion1 {
  display: flex;
  margin-left: 150px;
  margin-right: 150px; }

.abog-seccion1 a:hover {
  background-color: rgba(84, 187, 173, 0.18); }

.abog-seccion1-a {
  margin-top: 70px;
  width: 50%;
  text-align: justify; }

.abog-seccion1-b {
  width: 50%; }

.abog-seccion1-b img {
  width: 100%;
  height: 480px;
  margin-left: 30px; }

.titulo-abog {
  text-align: center;
  margin-top: 70px; }

.linea-1 {
  display: flex;
  justify-content: center; }

.linea-1 h2 {
  font-size: 23px; }

.linea-1 div {
  width: 30%;
  margin: 15px;
  text-align: center; }

.linea-1 div p {
  text-align: justify;
  padding: 0 25px; }

.linea-1 div:hover {
  background-color: rgba(84, 187, 173, 0.18); }

.linea-1 img {
  width: 100%; }

.contacto-seccion1 {
  display: flex;
  margin: 70px 120px;
  text-align: justify; }

iframe {
  margin-left: 30px; }

form {
  display: flex;
  flex-direction: column; }

.forma {
  padding: 20px 50px;
  background-color: #54BBAD;
  margin: 70px 400px; }

.forma h2 {
  text-align: center;
  color: white;
  font-size: 25px;
  letter-spacing: 2px; }

.baner-blogs {
  display: block;
  margin: auto;
  width: 1100px;
  height: 500px; }

#seccion-blog {
  background: white;
  margin-left: 200px;
  margin-right: 200px;
  position: relative;
  margin-top: -150px;
  padding: 15px; }

.seccion-blog p {
  text-align: justify;
  padding-left: 50px;
  padding-right: 50px; }

.seccion-blog h1 {
  padding: 30px 70px;
  text-align: center; }

.seccion-blog h2 {
  padding: 30px 70px;
  text-align: center; }

.img-blog-4 {
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
  padding: 10px; }

.img-blog-5 {
  width: 70%;
  height: 70%;
  display: block;
  margin: auto;
  padding: 10px; }

.lista-blog li {
  list-style-image: url("/media/icono-lista.png");
  font-size: 23px;
  margin: 15px 80px;
  text-align: justify; }

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 130px;
  background-color: #02544C;
  height: 140px;
  padding: 10px; }

.horario {
  font-size: 20px;
  font-family: "Alegreya Sans", sans-serif;
  margin-top: 0;
  color: white;
  letter-spacing: 1px; }

footer a {
  color: #ffffff;
  font-size: 25px; }

footer a:hover {
  color: #000000; }

footer img {
  width: 200px; }

@media screen and (min-width: 1px) and (max-width: 425px) {
  .logopc {
    display: none; }
  .logocel {
    display: flex;
    height: 50px; }
  header {
    display: flex;
    justify-content: space-around;
    position: relative; }
  #toggle {
    margin-top: 3px;
    right: 10px;
    width: 30px;
    height: 30px; }
  #navbar.active {
    width: 100%;
    height: 90px;
    position: fixed; }
  #navbar ul {
    width: 100%;
    flex-direction: column;
    margin-top: 15px; }
  #navbar ul li a {
    font-size: 19px;
    line-height: 100%; }
  p {
    font-size: 19px;
    padding: 5px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 23px; }
  h3 {
    font-size: 20px; }
  .banerpri {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    padding: 0; }
  .form-empresas {
    padding: 10px; }
  .main-seccion1 {
    flex-wrap: wrap;
    margin: 0; }
  .img-mv img {
    width: 100%; }
  .main-seccion2 {
    flex-wrap: wrap; }
  .tit {
    margin-top: 70px; }
  .main-col1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0; }
  .main-col1 p {
    padding: 0;
    width: 100%; }
  .main-col1 img {
    width: 90%; }
  .main-col2 {
    flex-wrap: wrap;
    width: 100%;
    margin: 90px 0 0 0; }
  .main-col2 p {
    width: 100%;
    padding: 0; }
  .main-col2 img {
    width: 90%; }
  .articulos-recientes {
    flex-direction: column; }
  aside {
    width: 100%; }
  .articulo-home {
    width: 100%;
    margin-top: 80px;
    padding: 1px; }
  .articulo-home h3 {
    text-align: center; }
  .seccionplo p {
    padding: 0;
    margin: 40px 0; }
  .iconos-landing {
    flex-direction: column;
    margin-top: -10px; }
  .iconos-landing2 {
    flex-direction: column;
    margin-top: 0; }
  .iconos-landing3 {
    flex-direction: column;
    margin-top: 0; }
  .iconos-landing div {
    width: 100%;
    margin-top: 35px; }
  .iconos-landing2 div {
    width: 100%;
    margin-top: 35px; }
  .iconos-landing3 div {
    width: 100%;
    margin-top: 35px; }
  .un-icono {
    width: 100%;
    padding: 30px 0; }
  .seccion-2-landing {
    flex-direction: column; }
  .seccion-2-landing div {
    width: 100%;
    margin: 0; }
  .pamv {
    padding: 2px; }
  .empresa-h1 {
    margin-top: 90px; }
  .seccion-trabajadores h1 {
    margin-top: 70px; }
  .tra-servicios {
    margin-left: 0;
    margin-right: 0; }
  .tra-col-1 {
    margin-top: 50px;
    flex-direction: column; }
  .tra-col-1 h2 {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    font-size: 23px; }
  .tracoldivder {
    margin-left: 0; }
  .tracoldiviz {
    margin-right: 0; }
  .tra-col-1 img {
    width: 100%; }
  .tra-col-2 {
    margin-top: 50px;
    flex-direction: column; }
  .tra-col-2 h2 {
    margin: 20px 0 0 0;
    padding: 0;
    width: 100%;
    font-size: 23px; }
  .tra-col-2 img {
    width: 100%; }
  .abog-seccion1 {
    margin-left: 0;
    margin-right: 0;
    flex-direction: column; }
  .abog-seccion1-a {
    width: 100%;
    margin-top: 8px; }
  .abog-seccion1-b {
    width: 100%; }
  .abog-seccion1-b img {
    width: 100%;
    height: 300px;
    margin-left: 0; }
  .linea-1 {
    flex-direction: column;
    margin-bottom: 20px; }
  .linea-1 div {
    width: 100%;
    margin: 40px 0; }
  .contacto-seccion1 {
    margin: 0;
    flex-direction: column;
    width: 100%; }
  iframe {
    width: 100%;
    margin-left: 0; }
  .forma {
    padding: 10px;
    margin: 30px 20px; }
  .bot-enviar {
    margin-left: 50px; }
  .baner-blogs {
    width: 100%;
    height: 180px; }
  #seccion-blog {
    margin-top: -70px;
    margin-left: 20px;
    margin-right: 20px; }
  .seccion-blog p {
    padding-left: 2px;
    padding-right: 2px; }
  .seccion-blog h1 {
    padding: 10px 0; }
  .seccion-blog h2 {
    padding: 10px 0; }
  .lista-blog li {
    font-size: 19px;
    margin: 15px 0; }
  footer {
    flex-direction: column;
    text-align: center;
    height: 200px; }
  footer a {
    font-size: 19px; } }

@media screen and (min-width: 426px) and (max-width: 768px) {
  #menu a {
    font-size: 19px;
    color: #ffffff;
    margin-top: 35px; }
  p {
    font-size: 19px;
    padding: 5px; }
  h1 {
    font-size: 26px; }
  h2 {
    font-size: 23px; }
  h3 {
    font-size: 20px; }
  .bamboo {
    display: flex; }
  .logo {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 30px; }
  .caja-iconos {
    display: none; }
  .header-seccion2 {
    display: none; }
  .banerpri {
    background-size: contain;
    background-repeat: no-repeat; }
  .ban11 {
    position: inherit;
    margin: -250px 150px 20px; }
  .main-seccion1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0; }
  .main-seccion1 p {
    padding: 0 70px; }
  .img-mv img {
    width: 100%; }
  .main-seccion2 {
    flex-wrap: wrap; }
  .tit {
    margin-top: 70px; }
  .main-col1 {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 60px; }
  .main-col1 p {
    width: 100%;
    padding: 0; }
  .main-col1 img {
    width: 60%; }
  .main-col2 {
    flex-wrap: wrap;
    width: 100%;
    margin: 90px 60px 0 60px; }
  .main-col2 p {
    width: 100%;
    padding: 0; }
  .main-col2 img {
    width: 60%; }
  .articulos-recientes {
    flex-direction: column; }
  aside {
    width: 100%; }
  .articulo-home {
    width: 100%;
    margin-top: 100px; }
  .articulo-home h3 a {
    font-size: 25px; }
  .seccionplo p {
    padding: 0;
    margin: 70px 80px; }
  .secem {
    flex-direction: column; }
  .secem img {
    display: block;
    margin: auto;
    height: 360px; }
  .lista {
    margin-top: 50px; }
  .tra-servicios {
    margin-left: 0;
    margin-right: 0; }
  .tracoldivder {
    margin: 30px 100px; }
  .tracoldiviz {
    margin: 30px 100px; }
  .tra-col-1 {
    margin-top: 80px;
    flex-direction: column; }
  .tra-col-1 h2 {
    margin: 0;
    padding: 0;
    width: 100%; }
  .tra-col-1 img {
    height: 360px; }
  .tra-col-2 {
    margin-top: 80px;
    flex-direction: column; }
  .tra-col-2 h2 {
    margin: 0;
    padding: 0;
    width: 100%; }
  .tra-col-2 img {
    height: 360px; }
  .abog-seccion1 {
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: column; }
  .abog-seccion1-a {
    margin-top: 0;
    width: 100%; }
  .abog-seccion1-a p {
    margin-left: 80px;
    margin-right: 80px; }
  .abog-seccion1-a h1 {
    text-align: left;
    margin-left: 40px; }
  .abog-seccion1-b {
    width: 100%; }
  .abog-seccion1-b img {
    margin-left: 0; }
  .linea-1 {
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px; }
  .linea-1 p {
    padding-left: 60px;
    padding-right: 60px; }
  .linea-1 div {
    width: 100%;
    margin: 40px 0; }
  .contacto-seccion1 {
    margin: 0;
    flex-direction: column;
    width: 100%; }
  .contacto-seccion1 p {
    margin: 20px 70px; }
  iframe {
    width: 100%;
    margin-top: 30px;
    margin-left: 0; }
  .forma {
    padding: 10px;
    margin: 60px 130px; }
  .bot-enviar {
    margin-left: 160px; }
  .baner-blogs {
    width: 700px;
    height: 360px; }
  .seccion-blog {
    margin-top: -100px;
    margin-left: 80px;
    margin-right: 80px; }
  .seccion-blog p {
    padding-left: 20px;
    padding-right: 20px; }
  .seccion-blog h1 {
    padding: 10px; }
  .seccion-blog h2 {
    padding: 10px; }
  .lista-blog li {
    font-size: 19px;
    margin: 15px 0; }
  footer {
    flex-direction: column;
    text-align: center;
    height: 230px; } }
