/*Colores globales*/
$color-parrafos: #0000;
$color-titulos: #02544C;
$color-navegacion: #0000;
$color-hover: #02544C;

/*Tipografia global*/
$tipografia-parrafos: 'Alegreya Sans SC', sans-serif;
$tipografia-titulos: 'Alegreya', serif;
$tipografia-botones: 'Alegreya SC', serif;
$tipografia-navegacion: 'Alegreya Sans SC', sans-serif;

/*Tamaño de tipografía global*/
$tamano-parrafos: 25px;
$tamano-h1: 35px;
$tamano-h2: 32px;
$tamano-h3: 28px;
$tamano-navegacion: 25px;