/*Colores globales*/
$color-parrafos: black;
$color-titulos: #02544C;
$color-hover: #54BBAD;
$color-fondo-botones: #54BBAD;

/*Tipografia global*/
$tipografia-parrafos: 'Alegreya Sans', sans-serif;
$tipografia-titulos: 'Alegreya', serif;
$tipografia-botones: 'Alegreya SC', serif;

/*Tamaño de tipografía global*/
$tamano-parrafos: 22px;
$tamano-h1: 35px;
$tamano-h2: 25px;
$tamano-h3: 23px;

$tamano-parrafos-cel: 19px;
$tamano-h1-cel: 29px;
$tamano-h2-cel: 26px;
$tamano-h3-cel: 20px;
$tamano-navegacion-cel: 19px;

$tamano-servicios: 22px;