/*Colores globales*/
$color-parrafos: black;
$color-titulos: #02544C;
$color-navegacion: black;
$color-hover: #02544C;
$color-fondo-botones: #54BBAD;

/*Tipografia global*/
$tipografia-parrafos: 'Alegreya Sans', sans-serif;
$tipografia-titulos: 'Alegreya', serif;
$tipografia-botones: 'Alegreya SC', serif;
$tipografia-navegacion: 'Alegreya SC', serif;

/*Tamaño de tipografía global*/
$tamano-parrafos: 25px;
$tamano-h1: 35px;
$tamano-h2: 32px;
$tamano-h3: 26px;
$tamano-navegacion: 25px;