$tamano-header-logo: 380px;
$tamano-header-iconos: 25px;
$tamano-header-enlaces: 25px;
$tamano-navegacion: 23px;

$color-navegacion: black;
$color-hover: #54BBAD;

$tipografia-navegacion: 'Alegreya Sans', sans-serif;