body {
    box-sizing: border-box;
}

/*Globales*/
@import 'globales';

a {
    font-size: $tamano-navegacion;
    color: $color-navegacion;
    font-family: $tipografia-navegacion;
    text-decoration: none;
}

a:hover {
    color: $color-hover;
}

p {
    font-size: $tamano-parrafos;
    font-family: $tipografia-parrafos;
}

h1 {
    font-size: $tamano-h1;
    font-family: $tipografia-titulos;
}

h2 {
    font-size: $tamano-h2;
    font-family: $tipografia-titulos;
}
/*Fin CSS Globales*/

/*inicia CSS Header*/
.header-seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

@import 'header';
    .logo {
        width: $tamano-header-logo;
    }

    .header-iconos {
        width: $tamano-header-iconos;
        margin-top: 45px;
    }
/*Fin CSS Header*/

/*Inicia CSS Main*/
    .baner {
        display: block;
        margin: auto;
        width: 90%;
        height: 500px;
    }

    .main-seccion1 {
        display: flex;
        background-color: aliceblue;
        margin: 70px 150px;
    }

    .tit {
        text-align: center;
    }

    .main-seccion2 {
        display: flex;
    }

    .main-seccion2 p {
        text-align: justify;
        padding: 15px 45px 0px 45px;
    }

    .main-col1 img {
        float: right;
    }

    .main-col1 *{
        display: inline-block;
    } 

    .main-col2 img {
        float: left;
    }

    .main-col2 *{
        display: inline-block;
    } 
/*Fin CSS Main*/

/*Inicia CSS Artículos recientes*/
.articulos-recientes {
    margin-top: 120px;
    display: flex;
    width: 100%;
}

aside {
    width: 25%;
    background-color: #009F8B;
}

aside h2 {
    color: #ffffff;
    text-align: center;
}

aside p {
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

article {
    margin-top: 90px;
    width: 25%;
    padding: 5px;
}

article img {
    width: 100%;
}
/*Fin CSS Artículos recientes*/


/*Inicia CSS Footer*/
@import 'footer';   
    footer {
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        background-color: #02544C;
        padding: 30px 0;
}
    .footer-iconos {
        width: $tamano-footer-iconos;
}
    footer p {
        font-family: $tipografia-footer;
        font-size: $tamano-footer;
        color: #ffffff;
    }
/*Fin CSS Footer*/