body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgba(84, 187, 173, .1);
}

/*inicia CSS Header*/
@import "header";
.logo {
    width: $tamano-header-logo;
}

.header-seccion1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

li {
    list-style-type: none;
}

.nav-pc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 40px;
}

.nav-pc li a{
    color: $color-navegacion;
    font-family: $tipografia-navegacion;
    font-size: $tamano-navegacion;
    text-decoration: none;
}

.nav-pc li a:hover{
    color: $color-hover;
}

.caja-iconos {
    margin-top: 40px;
    word-spacing: 10px;
    font-size: $tamano-header-iconos;
}

.caja-iconos a{
    text-decoration: none;
    color: $color-navegacion;
}

.caja-iconos i:hover{
    color: $color-hover;
}

/*Inicia Menu de hamburguesa*/
/*Inicia Menu de hamburguesa*/
/*Menu toggle button*/
.bamboo {
    display: none;
}

#menu-btn{ 
    position: absolute; left: 1em; top: 1em;
    width: 2em;
    border-radius: 100%;
    transition: all .2s ease-out;
  }
    /*Cursor on toggle button hover*/
    #menu-btn:hover{ cursor: pointer; }
    /*Changing color of hamburger lines on hover*/
    #menu-btn:hover .menu-line{ background-color: #999999; }
  
    #menu-btn:active{ box-shadow: 0 0 5px black; background-color: #524a88; }
  
    /*Styles for the hamburger lines*/
    .menu-btn-line{ 
      height: .2em; 
      background-color:  #54BBAD; 
      margin-bottom: .3em; 
    }
    /*No margin-bottom for last hamburger line.*/
    .menu-btn-line:last-child{ margin-bottom: 0; }
  
  /*List container*/
  #menu{ 
    position: relative; 
    height: fit-content;
    top: 10em;
    width: 100%;
    border: .5em solid  black; 
    font-size: 5px;
    background-color: #54BBAD;
  }

  #menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

    /*List*/
    #menu ul{ padding: 0; margin: 0; }
      /*List items*/
      #menu ul li{   
        list-style-type: none;
        margin-bottom: 10px;
        margin-top: 10px;
        color: #00FFCA;
        transition: all .3s ease-out;
      }
        /*Cursor and text undelrine on hover*/
        #menu ul li:hover{
          cursor: pointer;
          text-decoration: none;
        }
        /*Background and text colour change on click*/
        #menu ul li:active{
          background-color: #00FFCA;
          color: rgba(52, 73, 94,1.0);
        }

        #menu ul li a{
            font-size: 30px;
            vertical-align: middle;
        }
/*Fin Menu de hamburguesa*/
/*Fin CSS Header*/

//Inicio Globales
@import "globales";

h1{
    font-family: $tipografia-titulos;
    font-size: $tamano-h1;
    color: $color-titulos;
}

h2{
    font-family: $tipografia-titulos;
    font-size: $tamano-h2;
    color: $color-titulos;
}

h3{
    font-family: $tipografia-titulos;
    font-size: $tamano-h3;
    color: $color-titulos;
}

a{
    text-decoration: none;
}

p{
    font-family: $tipografia-parrafos;
    font-size: $tamano-parrafo;
    color: $color-parrafos;
    padding: 5px;
}
//Fin Globales

//Inicia Main
.baner {
    display: block;
    margin: auto;
    width: 90%;
    height: 500px;
}

.ban1{
    background-size: cover;
    background-image: url("/media/portada-inicio.jpg");
    height: 500px;
    width: 90%;
    margin:auto;
    text-align: center;
}

.ban11{
    position: absolute;
    margin: -401px 200px;
}

.main-seccion1 {
    display: flex;
    margin: 70px 150px;
}

.main-seccion1 p{
    text-align: justify;
}

.main-seccion1 h1{
    text-align: center;
}

.img-mv{
    padding-left: 70px;
}
//Fin Main

/*Inicia CSS Seccion 2*/
.tit {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.main-seccion2 {
    display: flex;
}

.main-seccion2 p {
    text-align: justify;
    padding: 0 50px;
}

.main-col1 img {
    display: block;
    float: right;
}

.main-col1 h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0;
}

.main-col1 *{
    display: inline-block;
} 

.main-col1 {
    text-align: center;
    padding-bottom: 50px;
}

.main-col1:hover{
    background-color: rgba(84, 187, 173, 0.18);
    border-radius: 800px;
}

.main-col1 a{
    margin-top: 30px;
    font-family: $tipografia-enlaces;
    font-size: $tamano-enlaces;
    color: $color-parrafos;
    outline-style: solid;
    outline-width: 1px;
    outline-color: $color-hover;
    padding: 8px;
    background-color: $color-fondo-botones;
    color: #ffffff;
}

.main-col1 a:hover{
    background-color: white;
    color: black;
}

.main-col2 img {
    display: block;
    float: left;
}

.main-col2 h3{
    width: 100%;
    text-align: center;
    font-size: 30px;
    padding-bottom: 0;
}

.main-col2 *{
    display: inline-block;
} 

.main-col2 {
    text-align: center;
    padding-bottom: 50px;
}

.main-col2:hover{
    background-color: rgba(84, 187, 173, 0.18);
    border-radius: 800px;
}

.main-col2 a{
    margin-top: 30px;
    font-family: $tipografia-enlaces;
    font-size: $tamano-enlaces;
    color: $color-parrafos;
    outline-style: solid;
    outline-width: 1px;
    outline-color: $color-hover;
    padding: 8px;
    background-color: $color-fondo-botones;
    color: #ffffff;
}

.main-col2 a:hover{
    background-color: white;
    color: black;
}

//Inicia CSS Artículos recientes
.articulos-recientes {
    margin-top: 120px;
    display: flex;
    width: 100%;
}

aside {
    width: 25%;
    background-color: #009F8B;
}

.aside-art-home h2 {
    color: #ffffff;
    text-align: center;
}

.aside-art-home p {
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.articulo-home {
    margin-top: 90px;
    width: 25%;
    padding: 5px;
    text-align: center;
}

.articulo-home:hover{
    background-color: rgba(84, 187, 173, 0.18);
    border-radius: 800px;;
}

.articulo-home a{
    font-family: $tipografia-enlaces; 
    font-size: $tamano-h3;
    color: $color-parrafos;
    padding-right: 10px;
    padding-left: 10px;
}

.articulo-home a:hover{
    color: $color-titulos;
}

.articulo-home img {
    width: 100%;
}
//Fin Artículos recientes

//Inicio Landing Empresas
.iconos-landing{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.iconos-landing h2{
    color: black;
}

.iconos-landing2{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.iconos-landing2 h2{
    color: black;
}

.iconos-landing3{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.iconos-landing3 h2{
    color: black;
}

.iconos-landing div{
    width: 30%;
}

.iconos-landing2 div{
    width: 25%;
}

.iconos-landing3 div{
    width: 30%;
}

.un-icono{
    text-align: center;
    padding:10px;
    color: #009F8B;
}

.un-icono:hover{
    background-color: rgba(84, 187, 173, 0.18);
}

.h2-landing{
    font-size: 15px;
}

.seccion-2-landing{
    display: flex;
    margin-top: 120px;
    background-color: #009F8B;
}

.seccionplo p{
    margin: 50px 150px 80px 150px; 
    text-align: justify;
}

.seccion-2-landing div{
    width: 50%;
    margin: 50px;
}

.form-empresas h3{
    color:white;
    text-align: center;
}

.jepe{
    color: white;
}

.jipi{
    color: white;
}

.form-empresas{
    background-color: $color-titulos;
    padding: 30px;
}

.empresa-h1{
    text-align: center;
}

//Fin landing EMPRESAS

//Inicia TRABAJADORES
.seccion-trabajadores{
    text-align: center;
}

.tra-servicios{
    margin-left: 120px;
    margin-right: 120px;
}

.tra-col-1{
    margin-top: 60px;
    display: flex;
    align-items: center;
}

.tra-col-1:hover{
    background: rgba(84, 187, 173, 0.18);
}

.tra-col-1 img{
    width: 600px;
}

.tra-col-1 h2{
    font-size: 25px;
    padding: 10px;
}

.tracoldivder{
    position: relative;
    margin-left: -70px;
    background-color: white;
}

.tra-col-2{
    margin-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.tra-col-2:hover{
    background: rgba(84, 187, 173, 0.18);
}

.tra-col-2 img{
    width: 600px;
}

.tra-col-2 h2{
    font-size: 25px;
    padding: 10px;
}

.tracoldiviz{
    position: relative;
    margin-right: -70px;
    background-color: white;
}
//Fin CSS de TRABAJADORES

//Inicia CSS Abogado online
.abog-seccion1 {
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}

.abog-seccion1 a:hover{
    background-color: rgba(84, 187, 173, 0.18); 
}

.abog-seccion1-a {
    margin-top: 70px;
    width: 50%;
    text-align: justify;
}


.abog-seccion1-b {
    width: 50%;
}

.abog-seccion1-b img {
    width: 100%;
    height: 480px;
    margin-left: 30px;
}

.titulo-abog{
    text-align: center;
    margin-top: 70px;
}

.linea-1{
    display: flex;
    justify-content: center;
}

.linea-1 h2{
    font-size: 23px;
}

.linea-1 div{
    width: 30%;
    margin: 15px;
    text-align: center;
}

.linea-1 div p{
    text-align: justify;
    padding: 0 25px;
}

.linea-1 div:hover{
    background-color: rgba(84, 187, 173, 0.18); 
}

.linea-1 img{
    width: 100%;
}
//Fin CSS Abogado online


//Inicia Contacto
.contacto-seccion1 {
    display: flex;
    margin: 70px 120px;
    text-align: justify;
}

iframe{
    margin-left: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

.forma{
    padding: 20px 50px;
    background-color: $color-hover;
    margin: 70px 400px;
}

.forma h2{
    text-align: center;
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
}

form input{
    margin-top: 15px;
    height: 23px;
}

.bot-enviar{
    align-items: center;
    width: 150px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 140px;
    background-color: white;
}

.bot-enviar:hover{
    background-color: $color-titulos;
    color: white;
}
//Fin Contacto

@import "blog";
//Inicia blogs
.baner-blogs{
    display: block;
    margin: auto;
    width: $tamano-baner-blog-width;
    height: $tamano-baner-blog-height;
}

#seccion-blog{
    background: white;
    margin-left: 200px;
    margin-right: 200px;
    position: relative;
    margin-top: -150px;
    padding: 15px;
}

.seccion-blog p{
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
}

.seccion-blog h1{
    padding: 30px 70px;
    text-align: center;
}

.seccion-blog h2{
    padding: 30px 70px;
    text-align: center;
}



//imagen interna del blog 4
.img-blog-4{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    padding: 10px;
}

//imagen interna del blog 5
.img-blog-5{
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
    padding: 10px;
}

//lista interna del blog 3
.lista-blog li{list-style-image: url('/media/icono-lista.png');
    font-size: $tamano-parrafo;
    margin: 15px 80px;
    text-align: justify;
}
//Fin blogs

//Inicia CSS Footer
@import "footer";
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 130px;
        background-color: #02544C;
        height: 140px;
        padding: 10px;
}

.footer-iconos{
    word-spacing: 10px;
    color: white;
    font-size: $tamano-footer-iconos;
}

footer a {
    color:#ffffff;
    font-size: $tamano-header-enlaces;
}

footer a:hover{
    color: #000000;
}

footer img {
    width: 200px;
}
//Fin CSS Footer


/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
///////CELULAR VERTICAL//////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
//Inicia Media Query Celular pequeño con menu de hamburguesa
@media screen and (min-width:1px) and (max-width:425px){
    #menu a{
        font-size: 19px;
        color: #ffffff;
        margin-top: 35px;
    }
    
    //Inicio Globales
    p {
        font-size: $tamano-parrafos-cel;
        padding: 5px;
    }   

    h1 {
        font-size: $tamano-h1-cel;
    }

    h2 {
        font-size: $tamano-h2-cel;
    }
    
    h3 {
        font-size: $tamano-h3-cel;
    }
    //Fin Globales

    //Inicio Header
    .bamboo {
        display: flex;
    }

    .logo {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .caja-iconos {
        display: none;
    }

    .header-seccion2 {
        display: none;
    }
    //Fin Header

    //Inicia Main
    .baner{
        height: 280px;
    }

    .ban1{
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
        padding: 0;
    }

    .ban11{
        position: relative;
        margin: -40px 15px 20px;
    }

    .form-empresas{
        padding: 10px;
    }

    .main-seccion1 {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }
    
    .img-mv img {
        width: 100%;
    }

    .main-seccion2 {
        flex-wrap: wrap;
    }

    .tit {
        margin-top: 70px;
    }

    .main-col1 {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .main-col1 p{
        padding: 0;
        width: 100%;
    }

    .main-col1 img {
        width: 90%;
    }

    .main-col2 {
        flex-wrap: wrap;
        width: 100%;
        margin: 90px 0 0 0;
    }

    .main-col2 p{
        width: 100%;
        padding: 0;
    }

    .main-col2 img {
        width: 90%;
    }
    //Fin Main

    //Inicia Artículos recientes
    .articulos-recientes {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .articulo-home {
        width: 100%;
        margin-top: 80px;
        padding: 1px;
    }

    .articulo-home h3{
        text-align: center;
    }
    //Fin Artículos recientes

    //Inicia empresas landing
    .seccionplo p {
        padding: 0;
        margin: 40px 0;
    }

    .iconos-landing{
        flex-direction: column;
        margin-top: -10px;
    }

    .iconos-landing2{
        flex-direction: column;
        margin-top: 0;
    }

    .iconos-landing3{
        flex-direction: column;
        margin-top: 0;
    }

    .iconos-landing div{
        width: 100%;
        margin-top: 35px;
    }

    .iconos-landing2 div{
        width: 100%;
        margin-top: 35px;
    }

    .iconos-landing3 div{
        width: 100%;
        margin-top: 35px;
    }

    .un-icono{
        width: 100%;
        padding: 30px 0;
    }

    .seccion-2-landing{
        flex-direction: column;
    }

    .seccion-2-landing div{
        width: 100%;
        margin: 0;
    }

    .pamv{
        padding: 2px;
    }
    
    .empresa-h1{
        margin-top: 90px;
    }
    //Fin empresas landing

    //Inicio Trabajadores
    .seccion-trabajadores h1{
        margin-top: 70px;
    }

    .tra-servicios {
        margin-left: 0;
        margin-right: 0;
    }

    .tra-col-1{
        margin-top: 50px;
        flex-direction: column;
    }

    .tra-col-1 h2{
        margin: 20px 0 0 0;
        padding: 0;
        width: 100%;
        font-size: $tamano-h2-cel;
    }

    .tracoldivder{
        margin-left: 0;
    }

    .tracoldiviz{
        margin-right: 0;
    }

    .tra-col-1 img{
        width: 100%;
    }

    .tra-col-2{
        margin-top: 50px;
        flex-direction: column;
    }

    .tra-col-2 h2{
        margin: 20px 0 0 0;
        padding: 0;
        width: 100%;
        font-size: $tamano-h2-cel;
    }

    .tra-col-2 img{
        width: 100%;
    }
    //Fin Trabajadores

    //Inicia Abogado online
    .abog-seccion1 {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    .abog-seccion1-a {
        width: 100%;
        margin-top: 8px;
    }

    .abog-seccion1-b {
        width: 100%;
    }

    .abog-seccion1-b img {
        width: 100%;
        height: 300px;
        margin-left: 0;
    }

    .linea-1{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .linea-1 div{
        width: 100%;
        margin: 40px 0;
    }
    //Fin Abogado online

    //Inicia Contacto
    .contacto-seccion1{
        margin: 0;
        flex-direction: column;
        width: 100%;
    }

    iframe{
        width: 100%;
        margin-left: 0;
    }

    .forma{
        padding: 10px;
        margin: 30px 20px;
    }

    .bot-enviar{
        margin-left: 50px;
    }
    //Fin Contacto

    //Inicia blogs
    .baner-blogs{
        width: 100%;
        height: 180px;
    }

    #seccion-blog{
        margin-top: -70px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .seccion-blog p{
        padding-left: 2px;
        padding-right: 2px;
    }

    .seccion-blog h1{
        padding: 10px 0;
    }

    .seccion-blog h2{
        padding: 10px 0;
    }

    //imagen interna del blog 3
    .lista-blog li{
        font-size: $tamano-parrafos-cel;
        margin: 15px 0;
    }

    //Inicio Footer
    footer {
        flex-direction: column;
        text-align: center;
        height: 200px;
    }

    footer a{
        font-size: $tamano-navegacion-cel;
    }
    //Fin Footer
}

/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
///////CELULAR HORIZONTAL////////
/////////////////////////////////
/////////////////////////////////
/////////////////////////////////
//Inicia Media Query Celular Horizontal (incluye tablets)
@media screen and (min-width:426px) and (max-width:768px){
    #menu a{
        font-size: 19px;
        color: #ffffff;
        margin-top: 35px;
    }
    
    //Inicio Globales
    p {
        font-size: $tamano-parrafos-cel;
        padding: 5px;
    }   

    h1 {
        font-size: $tamano-h1-cel;
    }

    h2 {
        font-size: $tamano-h2-cel;
    }
    
    h3 {
        font-size: $tamano-h3-cel;
    }
    //Fin Globales

    //Inicio Header
    .bamboo {
        display: flex;
    }

    .logo {
        width: 70%;
        display: block;
        margin: auto;
        margin-bottom: 30px;
    }

    .caja-iconos {
        display: none;
    }

    .header-seccion2 {
        display: none;
    }
    //Fin Header

    //Inicia Main
    .ban1{
        background-size: contain;
        background-repeat: no-repeat;
    }

    .ban11{
        position: inherit;
        margin: -250px 150px 20px;
    }

    .main-seccion1 {
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
    }

    .main-seccion1 p{
        padding: 0 70px;
    }
    
    .img-mv img {
        width: 100%;
    }

    .main-seccion2 {
        flex-wrap: wrap;
    }

    .tit {
        margin-top: 70px;
    }

    .main-col1 {
        flex-wrap: wrap;
        width: 100%;
        margin: 0 60px;
    }

    .main-col1 p{
        width: 100%;
        padding:0;
    }

    .main-col1 img {
        width: 60%;
    }

    .main-col2 {
        flex-wrap: wrap;
        width: 100%;
        margin: 90px 60px 0 60px;
    }

    .main-col2 p{
        width: 100%;
        padding: 0;
    }

    .main-col2 img {
        width: 60%;
    }
    //Fin Main

    //Inicia Artículos recientes
    .articulos-recientes {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .articulo-home {
        width: 100%;
        margin-top: 100px;
    }

    .articulo-home h3 a {
        font-size: 25px;
    }
    //Fin Artículos recientes

    //Inicia empresas
    .seccionplo p {
        padding: 0;
        margin: 70px 80px;
    }

    .secem{
        flex-direction: column;
    }

    .secem img{
        display: block;
        margin: auto;
        height: 360px;
    }

    .lista {
        margin-top: 50px;
    }
    //Fin empresas

    //Inicio Trabajadores
    .tra-servicios {
        margin-left: 0;
        margin-right: 0;
    }

    .tracoldivder{
        margin: 30px 100px;
    }

    .tracoldiviz{
        margin: 30px 100px;
    }

    .tra-col-1{
        margin-top: 80px;
        flex-direction: column;
    }

    .tra-col-1 h2{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .tra-col-1 img{
        height: 360px;
    }

    .tra-col-2{
        margin-top: 80px;
        flex-direction: column;
    }

    .tra-col-2 h2{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .tra-col-2 img{
        height: 360px;
    }
    //Fin Trabajadores

    //Inicia Abogado online
    .abog-seccion1 {
        margin-left: 70px;
        margin-right: 70px;
        flex-direction: column;
    }

    .abog-seccion1-a {
        margin-top: 0;
        width: 100%;
    }

    .abog-seccion1-a p{
        margin-left: 80px;
        margin-right: 80px;
    }

    .abog-seccion1-a h1{
        text-align: left;
        margin-left: 40px;
    }

    .abog-seccion1-b {
        width: 100%;
    }

    .abog-seccion1-b img {
        margin-left: 0;
    }

    .linea-1{
        flex-direction: column;
        margin-left: 60px;
        margin-right: 60px;
    }

    .linea-1 p{
        padding-left: 60px;
        padding-right: 60px;
    }

    .linea-1 div{
        width: 100%;
        margin: 40px 0;
    }
    //Fin Abogado online

    //Inicia Contacto
    .contacto-seccion1{
        margin: 0;
        flex-direction: column;
        width: 100%;
    }

    .contacto-seccion1 p{
        margin: 20px 70px;
    }

    iframe{
        width: 100%;
        margin-top: 30px;
        margin-left: 0;
    }

    .forma{
        padding: 10px;
        margin: 60px 130px;
    }

    .bot-enviar{
        margin-left: 160px;
    }
    //Fin Contacto

    //Inicia blogs
    .baner-blogs{
        width: 700px;
        height: 360px;
    }

    .seccion-blog{
        margin-top: -100px;
        margin-left: 80px;
        margin-right: 80px;
    }

    .seccion-blog p{
        padding-left: 20px;
        padding-right: 20px;
    }

    .seccion-blog h1{
        padding: 10px;
    }

    .seccion-blog h2{
        padding: 10px;
    }

    //imagen interna del blog 3
    .lista-blog li{
        font-size: $tamano-parrafos-cel;
        margin: 15px 0;
    }

    //Inicio Footer
    footer {
        flex-direction: column;
        text-align: center;
        height: 230px;
    }
    //Fin Footer
}